<!--
about-us start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block" >
                    <div class="col-md-6">
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </br>voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </br>voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
                    </div><!-- .col-md-6 close -->
                    <div class="col-md-6">
                        <form>
                            <div class="col-md-2">
                                <label for="quantity" class="control-label">Amount:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="col-md-2 form-control" id="quantity">
                            </div>
                            <div class="col-md-7">
                                <select class = "col-md-4 form-control" id ="amount">
                                    <option value="cup">cup</option>
                                    <option value="ounces">ounce</option>
                                    <option value="grams">gram</option>
                                    <option value="kgs">kg</option>
                                </select>
                            </div>
                            <div>&nbsp</div>
                            <div class="col-md-2">
                                <label for="selectDate" class="control-label">date:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="selectDate" placeholder="select Date">
                            </div>
                            <div>&nbsp</div>
                            <div class="col-md-2">
                                <label for="mealType" class="control-label">meal:</label>
                            </div>
                            <div class="col-md-10">
                                <select class = "col-md-4 form-control" id ="mealType">
                                    <option value="breakfast">Breakfast</option>
                                    <option value="lunch">Lunch</option>
                                    <option value="dinner">Dinner</option>
                                    <option value="snack">snack</option>
                                </select>
                            </div>
                        </form>
                            <div>&nbsp</div>
                            <div class="col-mid-6">
                                <a style="widht:100%"class="btn btn-large btn-success wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" ng-click="logFood()" role="button">Add</a>
                            </div>
                        </div><!-- .col-md-6 close -->
                    <div>&nbsp</div>
                    <div>&nbsp&nbsp&nbsp</div>
                </div><!-- .block close -->
            </div><!-- .col-md-12 close -->

            <div class="col-md-12 panel panel-body panel-info">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="comment" placeholder="write a comment">
                </div>
                <div class="col-md-2">
                    <a style="widht:100%"class="btn btn-primary wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" ng-click="comment()" role="button">comment</a>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->