<!--
about-us start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block" >
                    <div class="col-md-6" style="background: white">
                       <div class="row">
                           <div class="col-md-5 col-xs-5">
                               <img id= "image-details" class="img-responsive"  ng-src="{{foodDetailsModel.details.recipe_images.recipe_image}}">

                                <div class="col-md-12 col-xs-12 serving">
                                    <div class="col-md-2 col-xs-2 icon glyphicon glyphicon-user"></div>
                                    <div class="col-md-8 col-xs-8 serving-content">
                                        Serves: <br/>
                                        {{foodDetailsModel.details.number_of_servings}} person
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 serving">
                                     <div class="col-md-2 col-xs-2 icon glyphicon glyphicon-time"></div>
                                     <div class="col-md-8 col-xs-8 serving-content">
                                         Prep Time: {{foodDetailsModel.details.preparation_time_min}}mins
                                     </div>
                                </div>
                               <div class="col-md-12 col-xs-12 nutrition-facts serving-content">
                                   <span class="nutrtn-facts">Nutrition Facts</span>
                                   <ul ng-repeat="(key, value) in foodDetailsModel.details.serving_sizes.serving">
                                       <li><span class="facts-cntnt" ng-model="foodDetailsModel.calories" ng-if="key=='calories'">{{key}}: {{value}}</span></li>
                                       <li><span class="facts-cntnt" ng-if="key=='fat'">{{key}}: {{value}}g</span></li>
                                       <li><span class="facts-cntnt" ng-if="key=='protein'">{{key}}: {{value}}g</span></li>
                                       <li><span class="facts-cntnt" ng-if="key=='carbohydrate'">{{key}}: {{value}}g</span></li>
                                   </ul>
                               </div>
                           </div>
                           <div class="col-md-7 col-xs-7">
                               <div>&nbsp</div>
                               <span class="recipe-name"> {{foodDetailsModel.details.recipe_name}} </span>
                               <span style="padding-top:10px"><hr/></span>
                               <span class="recipe-description">{{foodDetailsModel.details.recipe_description}}</span>
                               <div>&nbsp</div>
                               <span class="recipe-description" style="text-align:left">Ingredients</span>
                               <span style="padding-top:10px"><hr/></span>
                               <ul ng-repeat="ingredient in foodDetailsModel.details.ingredients.ingredient">
                                   <li class="description ingredient-description">{{ingredient.ingredient_description}}</li>
                               </ul>

                               <span class="recipe-description" style="text-align:left">Directions</span>
                               <span style="padding-top:10px"><hr/></span>
                               <ul ng-repeat="direction in foodDetailsModel.details.directions.direction">
                                   <li class="description direction-description">{{direction.direction_number}}: {{direction.direction_description}}</li>
                               </ul>
                           </div>
                       </div> <!-- .row close -->
                    </div><!-- .col-md-6 close -->
                    <div class="log-calories col-md-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputDate" class="col-sm-2 control-label">Date:</label>
                                <div class="col-sm-10">
                                    <input ng-model="foodDetailsModel.logDate" type="date" class="form-control" id="inputDate" placeholder="date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mealType" class="col-sm-2 control-label">meal:</label>
                                <div class="col-sm-10">
                                    <select ng-model="foodDetailsModel.foodType" class = "form-control" id ="mealType">
                                        <option value="breakfast">Breakfast</option>
                                        <option value="lunch">Lunch</option>
                                        <option value="dinner">Dinner</option>
                                        <option value="snack">snack</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="quantity" class="col-sm-2 control-label">Amount:</label>
                                <div class="col-sm-4 ">
                                    <input ng-model="foodDetailsModel.serving" type="text" class="form-control" id="quantity">
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-2 control-label">serving(s)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button ng-click="foodDetailsModel.logFood()" class="btn-success btn btn-default">Add</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- .col-md-6 close -->
                    <div>&nbsp</div>
                    <div>&nbsp&nbsp&nbsp</div>
                </div><!-- .block close -->
            </div><!-- .col-md-12 close -->
            <div>&nbsp</div><div>&nbsp</div>
            <div class="col-md-12 panel panel-body panel-info">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="comment" placeholder="write a comment">
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary wow bounceIn"  ng-click="foodDetailsModel.comment()" role="button">comment</a>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->