<!--
about-us start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block" >
                    <div class="col-md-6 whiteBg">
                       <div class="row">
                           <div class="col-md-5 col-xs-5">
                               <img id= "image-details" class="img-responsive"  ng-src="{{foodDetailsModel.details.recipe_images.recipe_image}}">

                                <div class="col-md-12 col-xs-12 serving">
                                    <div class="col-md-2 col-xs-2 icon glyphicon glyphicon-user"></div>
                                    <div class="col-md-8 col-xs-8 serving-content">
                                        Serves: <br/>
                                        {{foodDetailsModel.details.number_of_servings}} person
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 serving">
                                     <div class="col-md-2 col-xs-2 icon glyphicon glyphicon-time"></div>
                                     <div class="col-md-8 col-xs-8 serving-content">
                                         Prep Time: {{foodDetailsModel.details.preparation_time_min}}mins
                                     </div>
                                </div>
                               <div class="col-md-12 col-xs-12 nutrition-facts serving-content">
                                   <span class="nutrtn-facts">Nutrition Facts</span>
                                   <ul ng-repeat="(key, value) in foodDetailsModel.details.serving_sizes.serving">
                                       <li><span class="facts-cntnt" ng-model="foodDetailsModel.calories" ng-if="key=='calories'">{{key}}: {{value}}</span></li>
                                       <li><span class="facts-cntnt" ng-if="key=='fat'">{{key}}: {{value}}g</span></li>
                                       <li><span class="facts-cntnt" ng-if="key=='protein'">{{key}}: {{value}}g</span></li>
                                       <li><span class="facts-cntnt" ng-if="key=='carbohydrate'">{{key}}: {{value}}g</span></li>
                                   </ul>
                               </div>
                           </div>
                           <div class="col-md-7 col-xs-7">
                               <div>&nbsp</div>
                               <span class="recipe-name"> {{foodDetailsModel.details.recipe_name}} </span>
                               <span style="padding-top:10px"><hr/></span>
                               <span class="recipe-description">{{foodDetailsModel.details.recipe_description}}</span>
                               <div>&nbsp</div>
                               <span class="recipe-description" style="text-align:left">Ingredients</span>
                               <span style="padding-top:10px"><hr/></span>
                               <ul ng-repeat="ingredient in foodDetailsModel.details.ingredients.ingredient">
                                   <li class="description ingredient-description">{{ingredient.ingredient_description}}</li>
                               </ul>

                               <span class="recipe-description" style="text-align:left">Directions</span>
                               <span style="padding-top:10px"><hr/></span>
                               <ul ng-repeat="direction in foodDetailsModel.details.directions.direction">
                                   <li class="description direction-description">{{direction.direction_number}}: {{direction.direction_description}}</li>
                               </ul>
                           </div>
                       </div> <!-- .row close -->
                    </div><!-- .col-md-6 close -->
                    <div class="log-calories col-md-6">
                        <form class="form-horizontal" name="logFoodForm">
                            <div class="form-group">
                                <label for="inputDate" class="col-sm-2 control-label">Date:</label>
                                <div class="col-sm-8">
                                    <input name="inputDate" ng-model="foodDetailsModel.logDate" type="date" class="form-control logFieldWd" id="inputDate" placeholder="date" required>
                                    <span class="error" ng-show="logFoodForm.inputDate.$error.required">Choose a Date</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mealType" class="col-sm-2 control-label">meal:</label>
                                <div class="col-sm-8">
                                    <select name="category" ng-model="foodDetailsModel.foodType" class = "form-control logFieldWd" id ="mealType" required>
                                        <option value="breakfast">Breakfast</option>
                                        <option value="lunch">Lunch</option>
                                        <option value="dinner">Dinner</option>
                                        <option value="snack">snack</option>
                                    </select>
                                    <span class="error" ng-show="logFoodForm.category.$error.required">Required Field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="quantity" class="col-sm-2 control-label">Amount:</label>
                                <div class="col-sm-8 input-group">
                                    <input style="margin-left: 14px" name="amount" ng-model="foodDetailsModel.serving" type="text" ng-pattern="/^[0-9]*$/" required class="form-control" id="quantity">
                                    <div class="input-group-addon" style="padding-left:30px">serving(s)</div>
                                </div>
                                <span class="error" ng-show="logFoodForm.amount.$error.required">Required Field</span>
                                <span class="error" ng-show="logFoodForm.amount.$error.pattern">Enter only Numbers</span>

                            </div>
                            <div class="form-group">
                                <label for="quantity" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button ng-disabled="logFoodForm.$invalid" ng-click="logFoodForm.$invalid || foodDetailsModel.logFood()" class="btn-success btn btn-default logFieldWd">Add</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- .col-md-6 close -->
                    <div>&nbsp</div>
                    <div>&nbsp&nbsp&nbsp</div>
                </div><!-- .block close -->
            </div><!-- .col-md-12 close -->
            <div>&nbsp</div><div>&nbsp</div>

<!--Comments section begin-->
            <div ng-show="foodDetailsModel.commentPanelTab" class="col-md-12 panel panel-body panel-info">
                        <div ng-repeat="eachComment in foodDetailsModel.allComments" class="commentSection col-md-10 col-sm-10 col-xs-10">
                            <a href="#profile/{{eachComment.UserName}}"class="col-md-3 col-sm-3 col-xs-3 userComment">{{eachComment.UserName}}</a>
                            <div class="col-md-6 col-sm-6 col-xs-6 commentContent">{{eachComment.Comment}}</div>
                            <div class="col-md-2 col-sm-2 col-xs-2 commentDate">{{eachComment.CommentDate | date: "mediumDate"}}</div>
                            <div class="col-md-1 col-sm-1 col-xs-1"><a class="commentDelete btn"  role="button" ng-show="eachComment.UserName == foodDetailsModel.currentUser.UserName" ng-click="foodDetailsModel.deleteComment(eachComment._id)">
                            <span class="glyphicon glyphicon-remove-sign"></span></a></div>
                        </div>
                <div class="col-md-10 col-sm10 col-xs-10">
                    <form name="commentForm">
                        <div class="col-md-8">
                            <textarea rows="2" cols="55" name="inputComment" required ng-model="foodDetailsModel.inputComment" type="text" class="form-control" id="comment" placeholder="write a comment">
                            </textarea>
                            <span class="error" ng-show="commentForm.inputComment.$error.required">Cannot be empty</span>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary wow bounceIn commentBtn"  ng-disabled="commentForm.$invalid" ng-click="commentForm.$invalid || foodDetailsModel.comment()" role="button">comment</a>
                        </div>
                    </form>
                </div>
            </div> <!-- comment section close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->