
<!--
 food-log start
 ============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Breakfast</h3>
                            </div>
                            <div class="panel-body">
                                Breakfast content
                                <table class="table table-striped">
                                    <tr>
                                        <th>FoodName</th>
                                        <th>Servings</th>
                                        <th>Calories</th>
                                    </tr>
                                    <tr ng-repeat="breakfastItem in foodLogModel.breakfast">
                                        <td>{{breakfastItem.foodName}}</td>
                                        <td>{{breakfastItem.Servings}}</td>
                                        <td>{{breakfastItem.calories}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Lunch</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <tr>
                                        <th>FoodName</th>
                                        <th>Servings</th>
                                        <th>Calories</th>
                                    </tr>
                                    <tr ng-repeat="lunchItem in foodLogModel.lunch">
                                        <td>{{lunchItem.foodName}}</td>
                                        <td>{{lunchItem.Servings}}</td>
                                        <td>{{lunchItem.calories}}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dinner</h3>
                            </div>
                            <div class="panel-body">
                                Dinner content
                                <table class="table table-striped">
                                    <tr>
                                        <th>FoodName</th>
                                        <th>Servings</th>
                                        <th>Calories</th>
                                    </tr>
                                    <tr ng-repeat="dinnerItem in foodLogModel.dinner">
                                        <td>{{dinnerItem.foodName}}</td>
                                        <td>{{dinnerItem.Servings}}</td>
                                        <td>{{dinnerItem.calories}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Snacks</h3>
                            </div>
                            <div class="panel-body">
                                Snacks content
                                <table class="table table-striped">
                                    <tr>
                                        <th>FoodName</th>
                                        <th>Servings</th>
                                        <th>Calories</th>
                                    </tr>
                                    <tr ng-repeat="snackItem in foodLogModel.snack">
                                        <td>{{snackItem.foodName}}</td>
                                        <td>{{snackItem.Servings}}</td>
                                        <td>{{snackItem.calories}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                    <div class="col-md-6">
                        <input type="date">
                        <time datetime="2014-09-20" class="icon">
                            <em>Saturday</em>
                            <strong>September</strong>
                            <span>20</span>
                        </time>
                        </button>
                    </div>
                    <div>&nbsp;</div>
                </div>
               </div><!-- .col-md-12 close -->
            <a class="form-control btn btn-primary wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#home">Add more Items</a>
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->