<div class="blog-section">
    <div class="container">
        <h3 class="tittle">Blogs</h3>
        <div class="col-md-4 blog-post-grids">
            <div class="blog-post">
                <a href="single.html"><img src="images/b1.jpg" class="img-responsive" alt="  "/></a>
                <div class="text">
                    <a href="single.html"> Aliquam erat volutpat</a>
                </div>
                <div class="admin-tag">
                    <p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
                    <p class="erat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla in purus nibh. Donec ornare felis neque. Nullam tortor
                        nulla, sodales quis posuere quis, tristique nec libero. Proin
                        vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat.</p>
                    <a href="single.html" class="hvr-rectangle-out button-more">Readmore<span> </span></a>
                </div>
            </div>
            <div class="blog-post">
                <a href="single.html"><img src="images/b2.jpg" class="img-responsive" alt="  "/></a>
                <div class="text">
                    <a href="single.html"> Aliquam erat volutpat</a>
                </div>
                <div class="admin-tag">
                    <p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
                    <p class="erat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla in purus nibh. Donec ornare felis neque. Nullam tortor
                        nulla, sodales quis posuere quis, tristique nec libero. Proin
                        vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat.</p>
                    <a href="single.html" class="hvr-rectangle-out button-more">Readmore<span> </span></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 blog-post-grids">
            <div class="blog-post">
                <a href="single.html"><img src="images/b3.jpg" class="img-responsive" alt="  "/></a>
                <div class="text">
                    <a href="single.html"> Aliquam erat volutpat</a>
                </div>
                <div class="admin-tag">
                    <p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
                    <p class="erat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla in purus nibh. Donec ornare felis neque. Nullam tortor
                        nulla, sodales quis posuere quis, tristique nec libero. Proin
                        vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat.</p>
                    <a href="single.html" class="hvr-rectangle-out button-more">Readmore<span> </span></a>
                </div>
            </div>
            <div class="blog-post">
                <a href="single.html"><img src="images/b4.jpg" class="img-responsive" alt="  "/></a>
                <div class="text">
                    <a href="single.html"> Aliquam erat volutpat</a>
                </div>
                <div class="admin-tag">
                    <p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
                    <p class="erat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla in purus nibh. Donec ornare felis neque. Nullam tortor
                        nulla, sodales quis posuere quis, tristique nec libero. Proin
                        vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat.</p>
                    <a href="single.html" class="hvr-rectangle-out button-more">Readmore<span> </span></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 blog-post-grids">
            <div class="blog-post">
                <a href="single.html"><img src="images/b4.jpg" class="img-responsive" alt="  "/></a>
                <div class="text">
                    <a href="single.html"> Aliquam erat volutpat</a>
                </div>
                <div class="admin-tag">
                    <p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
                    <p class="erat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla in purus nibh. Donec ornare felis neque. Nullam tortor
                        nulla, sodales quis posuere quis, tristique nec libero. Proin
                        vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat.</p>
                    <a href="single.html" class="hvr-rectangle-out button-more">Readmore<span> </span></a>
                </div>
            </div>
            <div class="blog-post">
                <a href="single.html"><img src="images/b1.jpg" class="img-responsive" alt="  "/></a>
                <div class="text">
                    <a href="single.html"> Aliquam erat volutpat</a>
                </div>
                <div class="admin-tag">
                    <p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
                    <p class="erat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla in purus nibh. Donec ornare felis neque. Nullam tortor
                        nulla, sodales quis posuere quis, tristique nec libero. Proin
                        vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat.</p>
                    <a href="single.html" class="hvr-rectangle-out button-more">Readmore<span> </span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--start-news-pagenate-->
    <div class="blog-pagenat">
        <ul>
            <li><a class="frist" href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a class="last" href="#">Next</a></li>
        </ul>
    </div>
    <!--//End-news-pagenate-->
</div>