<!--
    subscribe start
    ============================ -->
<section id="subscribe">
    <div class="container" style="margin-top: -23%;">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> KEEP TRACK OF <span>YOUR</span> DIET</h1>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input ng-model="searchItem" type="text" class="form-control" id="searchItem" placeholder="Search food items to log">
                                <div class="input-group-addon">
                                    <button ng-click="search()" class="btn btn-default">search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-stripped">
                        <tr>
                            <th  style="color:white; font-weight: bold">FoodId</th>
                            <th  style="color:white; font-weight: bold">FoodName</th>
                            <th  style="color:white; font-weight: bold">Food Description</th>
                        </tr>
                        <!--recipe_description: "A low carb and low fat banana bread recipe that's perfect for ripe bananas."-->
                        <!--recipe_id: "68579"-->
                        <!--recipe_image: "http://m.ftscrt.com/static/recipe/a60a2aa2-2cfb-4685-9b16-b2dca0fecced.jpg"-->
                        <!--recipe_name: "Banana Bread II"-->
                        <!--recipe_url: "http://www-->
                        <tr ng-repeat="result in searchResults">
                            <td style="color:white; font-weight: bold"><img ng-src ="{{result.recipe_image}}"></td>
                            <td style="color:white; font-weight: bold">{{result.recipe_name}}</td>
                            <td style="color:white; font-weight: bold">{{result.recipe_description}}</td>
                        </tr>
                    </table>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #subscribe close -->