<!--
    subscribe start
    ============================ -->
<section id="subscribe">
    <!--<div class="container" style="margin-top: -23%;">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="block">-->
                    <!--<h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> KEEP TRACK OF <span>YOUR</span> DIET</h1>-->

                        <!--<p>Concerned about your food habits and weight control?? Signup to DietTracker to track your calorie consumption and become a-->
                            <!--sensible and successful dieter</p>-->
                    <!--<form class="form-inline">-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<input ng-model="searchItem" type="text" class="form-control" id="searchItem" placeholder="Search food items to log">-->
                                <!--<div class="input-group-addon">-->
                                    <!--<button ng-click="search()" class="btn btn-default">search</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<table class="table table-striped">-->
                        <!--&lt;!&ndash;recipe_description: "A low carb and low fat banana bread recipe that's perfect for ripe bananas."&ndash;&gt;-->
                        <!--&lt;!&ndash;recipe_id: "68579"&ndash;&gt;-->
                        <!--&lt;!&ndash;recipe_image: "http://m.ftscrt.com/static/recipe/a60a2aa2-2cfb-4685-9b16-b2dca0fecced.jpg"&ndash;&gt;-->
                        <!--&lt;!&ndash;recipe_name: "Banana Bread II"&ndash;&gt;-->
                        <!--&lt;!&ndash;recipe_url: "http://www&ndash;&gt;-->
                        <!--<tr ng-repeat="result in searchResults">-->

                            <!--<td><a href="#/food-details/{{result.recipe_id}}"><img ng-src ="{{result.recipe_image}}"></a></td>-->
                            <!--<td style="color: #A666AB; font-family: 'Comic Sans';">-->
                                <!--<a href="#/food-details/{{result.recipe_id}}"><span style="font-weight: bold"> {{result.recipe_name}} </span>-->
                                    <!--<br><br><br>-->
                                    <!--{{result.recipe_description}}-->
                                <!--</a>-->
                            <!--</td>-->



                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; .col-md-12 close &ndash;&gt;-->
        <!--</div>&lt;!&ndash; .row close &ndash;&gt;-->
    <!--</div>&lt;!&ndash; .containe close &ndash;&gt;-->
</section><!-- #subscribe close -->