<h1 class="page-header">Register</h1>
<div class = "row placeholders">
    <div class="col-xs-9 col-sm-9 placeholder">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-3 control-label">Username</label>
                <div class="col-offset-2 col-sm-9">
                    <input ng-model="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input ng-model="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputVerifyPassword" class="col-sm-3 control-label">Verify Password</label>
                <div class="col-sm-9">
                    <input ng-model="verifyPassword" type="password" class="form-control" id="inputVerifyPassword" placeholder="Verify Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input ng-model="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class= "col-sm-9">
                    <a ng-click="register()" class="btn btn-default btn-wdth" role="button">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>