<div class="block about-us">
    <!--<h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">our <span>CONTACT US</span></h1>-->
    <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Update <span>Password</span> </h3>
    <form name="changePwd">
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
            <label for="oldPassword" class="control-label">Old Password</label>
            <input name="oldPwd" ng-required="$rootScope.currentUser.Password" ng-model="pwdDialogModel.oldPassword" type="text" class="form-control" id="oldPassword" placeholder="Old Password">
            <span class="error" ng-show="changePwd.oldPwd.required">Incorrect old password</span>
        </div>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
            <label for="NewPassword" class="control-label">New Password</label>
            <input name="newPwd" ng-model="pwdDialogModel.newPassword" type="password" class="form-control" id="newPassword" placeholder="New Password">
        </div>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
            <label for="confirmNewPassword" class="control-label">Confirm New Password</label>
            <input name="confrmNewPwd" ng-model="pwdDialogModel.confirmNewPassword" type="password" class="form-control" id="confirmNewPassword" placeholder="Confrim New Password">
        </div>
    </form>
    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms"
       ng-click="closeThisDialog({update: 'update', oldPassword: pwdDialogModel.oldPassword, newPassword: pwdDialogModel.newPassword, confirmNewPassword: pwdDialogModel.confirmNewPassword})"
       role="button">Update</a>
</div>