<div class="block about-us">
    <!--<h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">our <span>CONTACT US</span></h1>-->
    <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Update <span>Profile</span> </h3>
    <form>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
            <label for="firstName" class="control-label">First Name</label>
            <input ng-model="profileDialogModel.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
            <label for="lastName" class="control-label">Last Name</label>
            <input ng-model="profileDialogModel.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
            <label for="emailId" class="control-label">Email</label>
            <input ng-model="profileDialogModel.emailId" type="email" class="form-control" id="emailId" placeholder="Email">
        </div>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
            <label for="age" class="control-label">Age</label>
            <input ng-model="profileDialogModel.age" type="text" class="form-control" id="age" placeholder="Age">
        </div>
        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
            <label for="weight" class="control-label">Weight</label>
            <input ng-model="profileDialogModel.weight" type="text" class="form-control" id="weight" placeholder="Weight">
        </div>

    </form>
    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms"
       ng-click="closeThisDialog({update: 'update', firstName: profileDialogModel.firstName, lastName: profileDialogModel.lastName, email: profileDialogModel.emailId, age: profileDialogModel.age, weight: profileDialogModel.weight})"
       role="button">Update</a>
</div>